{% extends "carts/base.html" %}

{% block carts_content %}
<h2>購入明細一覧（管理者用）</h2>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>購入者</th>
      <th>メール</th>
      <th>合計金額</th>
      <th>購入日時</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>{{ order.id }}</td>
      <td>{{ order.last_name }} {{ order.first_name }}</td>
      <td>{{ order.email }}</td>
      <td>¥{{ order.total_price }}</td>
      <td>{{ order.created_at }}</td>
      <td>
        <a href="{% url 'carts:order_detail' order.id %}">
          詳細
        </a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">購入履歴はありません</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
