{% extends "base.html" %}
{% block content %}
<div class="container mt-5" style="max-width: 400px;">
  <h3 class="mb-4 text-center">管理者ログイン</h3>

  <form method="post">
    {% csrf_token %}

    <div class="mb-3">
      <label class="form-label">ユーザー名</label>
      <input type="text" name="username" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">パスワード</label>
      <input type="password" name="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-dark w-100">
      ログイン
    </button>
  </form>
</div>
{% endblock %}