{% extends "manages/base.html" %}

{% block manage_content %}
<h2>登録されている商品一覧</h2>

<a href="{% url 'manages:product_create' %}">新しく商品を追加</a>

<table style="margin-bottom: 50px;">
  <tr>
    <th>商品名</th>
    <th>価格</th>
    <th>再編集/削除</th>
  </tr>

  {% for product in products %}
  <tr>
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td>
      <a href="{% url 'manages:product_edit' product.id %}" class="danger">再編集</a>

      <form action="{% url 'manages:product_delete' product.id %}" method="post" style="display:inline;">{% csrf_token %}
        <button type="submit" class="danger">Delete</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
